# Test DS-FT Septiembre 2021

## Primera parte (tipo test):

https://forms.gle/d5AXLgXKQibJnzoV9

-----------------

## Segunda parte (ejercicios prácticos):

* El test práctico consta de 5 ejercicios puntuables. 
* Los ejercicios 1, 2 y 3 se puntúan sobre 2 puntos. 
* Los ejercicios 4 y 5 se puntúan sobre 2,5 puntos.
* La máxima nota es 10 (+1).

Antes de comenzar, cambia el nombre del archivo notebook poniéndole delante tu nombre y primer apellido:

* nombre_apellido1_apellido2_test_pract_sep_2021.ipynb

In [1]:
# Escribe tu nombre en la variable:
nombre_y_apellidos = "" 
# Correo electrónico
correo_electronico = ""
# Número de teléfono:
numero_telefono = "+34 600000000"

#### Notas y pruebas de apoyo para contestar las preguntas tipo test
Esto no es necesario usarlo aunque verlo aquí te puede dar la respuesta a alguna de las preguntas tipo test.

Cualquier código aunque no esté correcto nos dirá más de ti que no escribir nada.

In [ ]:
# Ejemplo de como queremos ver el código para más de un intento:

# intento 1
your code
# intento 2
your code

In [10]:
# crea todas las celdas que necesites

## Ejercicios prácticos

#### Ejercicio 1.
En este ejercicio se va a crear una lista con los siguientes elementos. Primero, crearemos las variables que luego añadiremos a la lista. Las variables son las siguientes:

1. Crea una variable llamada `num_dni` de tipo Integer que represente el primer número de tu DNI. 
2. Crea una variable llamada `let_dni` de tipo String y que represente la letra de vuestro DNI.
3. Crea una variable llamada `tip_ord` de tipo Boolean True si usas Windows y False si usas Mac.
4. Crea una variable llamada `nada` de tipo None cuyo valor sea None.
5. Crea una variable llamada `lista_deseo` de tipo List que contenga los cuatro objetos que te llevarías a una isla desierta. Cada elemento ha de ser de tipo String y el tamaño de la lista ha de ser 4.
6. Crea una variable llamada `tupla_ropa` de tipo Tuple con la marca de la prenda superior, inferior y calzado que llevas puesto.
7. Crea una variable llamada `dict_info` con dos keys y dos values. Una key es 'nombre', teniendo como value vuestro nombre. Otra key es 'edad', teniendo como value vuestra edad.
8. Crea una variable llamada `flo_hor` con la hora actual separada por punto en vez de dos puntos. Ejemplo: si son las 10:06, el valor de la variable sería 10.06.
9. Añade todos estos elementos en una lista llamada `lista_examen` en el orden de aparición usando una función de lista. 
10. Responde en un comentario a la siguiente pregunta: Si `lista_examen` tuviera muchos más elementos, ¿cómo te asegurarías de que no tiene ningún elemento repetido?

In [ ]:
 # tu respuesta aquí

#### Ejercicio 2. 

Para resolver este ejercicio necesitarás la lista del ejercicio anterior (`lista_examen`). Se recomienda leer cada punto hasta el final antes de resolver el ejercicio.

Se repite para que quede aún más claro: **SOLO USAR LA VARIABLE** `lista_examen`. Usar las demás variables se calificará como error.  

1. Mostrar por pantalla, sin uso de funciones ni bucles: 
    - El segundo elemento de `lista_deseo` desde `lista_examen`.
    - El calzado que llevas puesto.
    - Vuestro nombre.
    - La hora almacenada concatenada con vuestra edad y el número de vuestro de DNI. No debe haber espacios entre la concatenación.
    - Si tenéis más de 20 años, el primer número de vuestro DNI es mayor a 7 y usas Mac, mostrar la posición 5 de `lista_examen`.

In [ ]:
# tu respuesta aquí

2. Mostrar por pantalla, con uso de un bucle `for`:
    - Todos los elementos de `lista_examen`.
    - Todos los elementos de `lista_deseo` desde `lista_examen`.
    - Todos los elementos que ocupen una posición menor a 4 en `lista_examen`.

In [ ]:
# tu respuesta aquí

3. Mostrar por pantalla, con uso de un bucle while: 
    - Todos los elementos de `tupla_ropa` seguido de la cadena `"-->"` y la `posición` (int) que ocupa en la tupla accediendo desde `lista_examen`.
    - Cada key de `dict_info` seguido de la cadena ":" seguido de su value desde `lista_examen`.

In [ ]:
# tu respuesta aquí

#### Ejercicio 3. 

Crea una función `ejercicio_3` que reciba un parámetro `arg1`. Este argumento se utilizará como la lista de tuplas con nombres de los alumnos y alturas de clase. La función ha de retornar la misma lista de tuplas pero sin la tupla que contiene tu nombre. La tupla que contiene tu nombre ha de encontrarse a través del **valor del String** con tu nombre. Es decir, la función borrará la tupla que contiene tu nombre tanto si está en la primera posición, como en la posición N o la última. La función mostrará por pantalla la lista de tuplas modificada.

**Notas:** 

*- La lista de nombres y alturas está al final del notebook*

*- Añade la tupla con tu nombre y altura si no apareces en la lista* 

*- Utiliza la variable nombre_apellido que creaste al principio del archivo* 

Ejemplos de llamada a la función y lo que **devuelve** la función en el caso en el que me llamo 'Manuel Alfonso' y con esta 'lista_nombres_alturas':

In [7]:
# NO EJECUTAR ESTA CELDA (CELDA DE EJEMPLO)
lista_nombres_alturas = [("Manuel Alfonso", 1.75),("Jonathan Abbondanza",  1.70),("Nacho Fontal", 1.82)]
ejercicio_3(arg1=lista_nombres_alturas)

[('Jonathan Abbondanza', 1.7), ('Nacho Fontal', 1.82)]

In [9]:
# NO EJECUTAR ESTA CELDA (CELDA DE EJEMPLO)
lista_nombres_alturas = [("Jonathan Abbondanza",  1.70),("Manuel Alfonso", 1.75),("Nacho Fontal", 1.82)]
ejercicio_3(arg1=lista_nombres_alturas)

[('Jonathan Abbondanza', 1.7), ('Nacho Fontal', 1.82)]

In [ ]:
# tu respuesta aquí

-------------------------------------

#### Ejercicio 4. 

Escribe una función `reverse_number` que reciba dos parámetros. Los parámetros son `cadena` y `n`. `cadena` será un string y `n` un entero. La función debe retornar un string que sea el string `cadena` al revés y que tenga concatenado el número `n` por cada caracter de `cadena`.  


**No se permite (no puntuará con la máxima nota):**
- Usar la función built-in `reverse`
- Pasar el string `cadena` a otro tipo de variable (como list)* 
- Usar el `string slicing` [[::-1]]

Ejemplos de llamada a la función y lo que devuelve la función:

--------

>> print(reverse_number(cadena="aloh", n=3))

>>> h3o3l3a3

--------

>> print(reverse_number(cadena="otipep", n=85))

>>> p85e85p85i85t85o85

In [ ]:
# tu respuesta aquí

#### Ejercicio 5:
 Crea una función `ejercicio_5` que reciba dos parámetros `arg1` y `arg2`. `arg1` es la misma lista de tuplas con los nombres y alturas que la del ejercicio 3 y `arg2` representa un nombre. 
Crea un programa que pida al usuario *indefinidamente* un nombre y, cada vez que lo introduzca, intente borrar de `arg1` la tupla que contiene el nombre introducido **mostrándola por pantalla** usando la función `ejercicio_5`:

1. Si existe el nombre `arg2` dentro de la `arg1` la función **retornará** la lista de tuplas modificada

2. Si el nombre `arg2` no está en la lista `arg1` la función mostrará por pantalla el string "Ese 
nombre no está dentro de la lista"

3. Solo en el caso en el que el usuario escriba la palabra *'STOP'* se parará el programa.


**Notas:** 

*- La lista de nombres y alturas está al final del notebook*

*- Añade la tupla con tu nombre, edad y altura si no apareces en la lista*

In [ ]:
# tu respuesta aquí

-----------------------------

-------------------------------------------

In [1]:
# La lista a usar del ejercicio 3 y 5. Recuerda añadir la tupla con tu información si no está. 

lista_nombres_alturas = [("Gabriel Vázquez", 29, 1.75), ("Leonardo Sánchez", 24, 1.82), ("Piero Termini", 25, 1.71), ("Marta Buesa", 35, 1.66), ("Silvia Pasinato", 37, 1.63), ("Faro Zamani", 29, 1.90), ('Miguel Nievas', 27, 1.80), ("Alejandro Medina", 28, 1.70), ("Cristina Martínez", 32, 1.60), ("Francisco Palma", 36, 1.74), ("Jorge Duque", 45, 1.72), ("Jesús Llanes", 41, 1.65), ("Luis Pech", 18, 1.71), ("Marta Gómez", 30, 1.65), ("Jennifer Sanchez", 40, 1.60), ("Diego Isla", 39, 1.80), ("Nuria Brocar", 35, 1.75), ("Antonio Campaña", 23, 1.77), ("Isabella Schindowski", 34, 1.60), ("Juan Maniglia", 32, 1.75), ("David Suárez", 27, 1.70), ("Antonio Jiménez", 34, 1.80), ("Carlos Hernández", 27, 1.77), ("Erik Urresta", 28, 1.70), ("Marcos Lobo", 35, 1.80), ("Natalia Fernandez", 31, 1.70)]
lista_nombres_alturas

[('Gabriel Vázquez', 29, 1.75),
 ('Leonardo Sánchez', 24, 1.82),
 ('Piero Termini', 25, 1.71),
 ('Marta Buesa', 35, 1.66),
 ('Silvia Pasinato', 37, 1.63),
 ('Faro Zamani', 29, 1.9),
 ('Miguel Nievas', 27, 1.8),
 ('Alejandro Medina', 28, 1.7),
 ('Cristina Martínez', 32, 1.6),
 ('Francisco Palma', 36, 1.74),
 ('Jorge Duque', 45, 1.72),
 ('Jesús Llanes', 41, 1.65),
 ('Luis Pech', 18, 1.71),
 ('Marta Gómez', 30, 1.65),
 ('Jennifer Sanchez', 40, 1.6),
 ('Diego Isla', 39, 1.8),
 ('Nuria Brocar', 35, 1.75),
 ('Antonio Campaña', 23, 1.77),
 ('Isabella Schindowski', 34, 1.6),
 ('Juan Maniglia', 32, 1.75),
 ('David Suárez', 27, 1.7),
 ('Antonio Jiménez', 34, 1.8),
 ('Carlos Hernández', 27, 1.77),
 ('Erik Urresta', 28, 1.7),
 ('Marcos Lobo', 35, 1.8),
 ('Natalia Fernandez', 31, 1.7)]