In [1]:
# Crawler de la p√°gina de MARCA
import sys
#!{sys.executable} -m pip install beautifulsoup4

import urllib
from bs4 import BeautifulSoup

import pandas as pd

In [2]:
import urllib.request

user_agent = 'Mozilla/5.0 (Windows; U; Windows NT 5.1; en-US; rv:1.9.0.7) Gecko/2009021910 Firefox/3.0.7'
url = "https://uk.investing.com/equities/apple-computer-inc-balance-sheet"

In [3]:

data= {'Nombre':'','2020':'','2019':' ','2018':'','2017':''}
balance = pd.DataFrame (data, columns = ['Nombre','2020','2019','2018','2017'], index=[0])

In [4]:

headers={'User-Agent':user_agent,} 

request=urllib.request.Request(url,None,headers) #The assembled request
response = urllib.request.urlopen(request)
data = response.read() # The data u need

soup=BeautifulSoup(data)
tags=soup.find_all(class_="float_lang_base_1 relativeAttr")
for tag in tags:
    nombre_empresa=tag.string
print(nombre_empresa)
tags=soup.find_all("tr", class_='child')
nombres=['','','','','','']
for tag in tags:
    i=0
    tags_2=tag.find_all("td")
    for tag_2 in tags_2:
        nombres[i]=tag_2.string    
        i=i+1
    balance=balance.append({'Nombre':nombres[0],'2020':nombres[1],'2019':nombres[2],'2018':nombres[3],'2017':nombres[4]},ignore_index=True)

Apple Inc (AAPL)

In [5]:
def get_balance_sheet(url,user_agent,balance):
    
    headers={'User-Agent':user_agent,} 

    request=urllib.request.Request(url,None,headers) #The assembled request
    response = urllib.request.urlopen(request)
    data = response.read() # The data u need

    soup=BeautifulSoup(data)
    tags=soup.find_all(class_="float_lang_base_1 relativeAttr")
    for tag in tags:
        nombre_empresa=tag.string
    print(nombre_empresa)
    tags=soup.find_all("tr", class_='child')
    nombres=['','','','','','']
    for tag in tags:
        i=0
        tags_2=tag.find_all("td")
        for tag_2 in tags_2:
            nombres[i]=tag_2.string    
            i=i+1
        balance=balance.append({'Nombre':nombres[0],'2020':nombres[1],'2019':nombres[2],'2018':nombres[3],'2017':nombres[4]},ignore_index=True)

    return nombre_empresa,balance

In [6]:
def get_invested_capital (balance):

    balance=balance.replace("-", "0")

    cash_20=float(balance.iloc[1]['2020'])
    cash_19=float(balance.iloc[1]['2019'])
    cash_18=float(balance.iloc[1]['2018'])
    cash_17=float(balance.iloc[1]['2017'])

    print(cash_20)
    if(balance.iloc[13]['2020']!= '0'):
        goodwill_20=float(balance.iloc[13]['2020'])
    else:
        goodwill_20=0
    if(balance.iloc[13]['2019']!= '0'):
        goodwill_19=float(balance.iloc[13]['2019'])
    else:
        goodwill_19=0
    if(balance.iloc[13]['2018']!= '0'):
        goodwill_18=float(balance.iloc[13]['2018'])
    else:
        goodwill_18=0
    if(balance.iloc[13]['2017']!= '0'):
        goodwill_17=float(balance.iloc[13]['2017'])
    else:
        goodwill_17=0

    if(balance.iloc[25]['2020']!='0'): 
        total_assets_20=float(balance.iloc[10]['2020'])+float(balance.iloc[13]['2020'])+float(balance.iloc[14]['2020'])+float(balance.iloc[15]['2020'])+float(balance.iloc[17]['2020'])
        total_liabilities_20=float(balance.iloc[25]['2020'])+float(balance.iloc[28]['2020'])+float(balance.iloc[29]['2020'])+float(balance.iloc[30]['2020'])
        book_value_equity_20=total_assets_20-total_liabilities_20

    total_assets_19=float(balance.iloc[10]['2019'])+float(balance.iloc[13]['2019'])+float(balance.iloc[14]['2019'])+float(balance.iloc[15]['2019'])+float(balance.iloc[17]['2019'])
    total_liabilities_19=float(balance.iloc[25]['2019'])+float(balance.iloc[28]['2019'])+float(balance.iloc[29]['2019'])+float(balance.iloc[30]['2019'])
    book_value_equity_19=total_assets_19-total_liabilities_19

    total_assets_18=float(balance.iloc[10]['2018'])+float(balance.iloc[13]['2018'])+float(balance.iloc[14]['2018'])+float(balance.iloc[15]['2018'])+float(balance.iloc[17]['2018'])
    total_liabilities_18=float(balance.iloc[25]['2018'])+float(balance.iloc[28]['2018'])+float(balance.iloc[29]['2018'])+float(balance.iloc[30]['2018'])
    book_value_equity_18=total_assets_18-total_liabilities_18

    total_assets_17=float(balance.iloc[10]['2017'])+float(balance.iloc[13]['2017'])+float(balance.iloc[14]['2017'])+float(balance.iloc[15]['2017'])+float(balance.iloc[17]['2017'])
    total_liabilities_17=float(balance.iloc[25]['2017'])+float(balance.iloc[28]['2017'])+float(balance.iloc[29]['2017'])+float(balance.iloc[30]['2017'])
    book_value_equity_17=total_assets_17-total_liabilities_17

    book_value_debt_20= (float(balance.iloc[25]['2020'])+float(balance.iloc[19]['2020'])+float(balance.iloc[20]['2020'])
    +float(balance.iloc[21]['2020'])+float(balance.iloc[22]['2020'])+float(balance.iloc[23]['2020'])+float(balance.iloc[24]['2020'])
                         +float(balance.iloc[28]['2020'])+float(balance.iloc[29]['2020'])+float(balance.iloc[30]['2020']))

    book_value_debt_19= (float(balance.iloc[25]['2019'])+float(balance.iloc[19]['2019'])+float(balance.iloc[20]['2019'])
    +float(balance.iloc[21]['2019'])+float(balance.iloc[22]['2019'])+float(balance.iloc[23]['2019'])+float(balance.iloc[24]['2019'])
                         +float(balance.iloc[28]['2019'])+float(balance.iloc[29]['2019'])+float(balance.iloc[30]['2019']))

    book_value_debt_18= (float(balance.iloc[25]['2018'])+float(balance.iloc[19]['2018'])+float(balance.iloc[20]['2018'])
    +float(balance.iloc[21]['2018'])+float(balance.iloc[22]['2018'])+float(balance.iloc[23]['2018'])+float(balance.iloc[24]['2018'])
                         +float(balance.iloc[28]['2018'])+float(balance.iloc[29]['2018'])+float(balance.iloc[30]['2018']))

    book_value_debt_17= (float(balance.iloc[25]['2017'])+float(balance.iloc[19]['2017'])+float(balance.iloc[20]['2017'])
    +float(balance.iloc[21]['2017'])+float(balance.iloc[22]['2017'])+float(balance.iloc[23]['2017'])+float(balance.iloc[24]['2017'])
                         +float(balance.iloc[28]['2017'])+float(balance.iloc[29]['2017'])+float(balance.iloc[30]['2017']))

    book_value_invested_cap_20 = book_value_debt_20+ book_value_equity_20-goodwill_20-cash_20
    book_value_invested_cap_19 = book_value_debt_19+ book_value_equity_19-goodwill_19-cash_19
    book_value_invested_cap_18 = book_value_debt_18+ book_value_equity_18-goodwill_18-cash_18
    book_value_invested_cap_17 = book_value_debt_17+ book_value_equity_17-goodwill_17-cash_17

    return book_value_invested_cap_20,book_value_invested_cap_19, book_value_invested_cap_18, book_value_invested_cap_17

In [7]:
book_value_invested_cap_20,book_value_invested_cap_19,book_value_invested_cap_18,book_value_invested_cap_17=get_invested_capital(balance)

93025.0

Income Statement

In [8]:

def get_NOPAT(url):
    
    headers={'User-Agent':user_agent,} 
    request=urllib.request.Request(url,None,headers) #The assembled request
    response = urllib.request.urlopen(request)
    data = response.read() # The data u need
    soup=BeautifulSoup(data)
    tags=soup.find_all(class_="float_lang_base_1 relativeAttr")

    for tag in tags:
        nombre_empresa=tag.string
    print(nombre_empresa)

    import pandas as pd
    data= {'Nombre':nombre_empresa,'2020':0,'2019':0,'2018':0,'2017':0}
    income = pd.DataFrame (data, columns = ['Nombre','2020','2019','2018','2017'], index=[0])

    tags=soup.find_all("tbody")
    nombres=['',0,0,0,0,0,0,0,0,0,0,0,0]
    for tag in tags:

        tags_2=tag.find_all("span", class_=' bold')

        for tag_2 in tags_2:
            i=0
            if(tag_2.next=='Operating Income'):
                nombre=tag_2.next #Operating Income
                ano_20=tag_2.next.next.next.next.string #1091
                ano_19=tag_2.next.next.next.next.next.next.next.string #961
                 #169
                ano_18=tag_2.next.next.next.next.next.next.next.next.next.string

                ano_17=tag_2.next.next.next.next.next.next.next.next.next.next.next.next.string

                income=income.append({'Nombre':nombre,'2020':ano_20,'2019':ano_19,'2018':ano_18,'2017':ano_17},ignore_index=True)
    
    NOPAT_2020 = float(income.iloc[1]['2020'])*(0.75)
    NOPAT_2019 = float(income.iloc[1]['2019'])*(0.75)
    NOPAT_2018 = float(income.iloc[1]['2018'])*(0.75)
    NOPAT_2017 = float(income.iloc[1]['2017'])*(0.75)
    
    return nombre_empresa,NOPAT_2020,NOPAT_2019,NOPAT_2018,NOPAT_2017

In [9]:
urls=['https://uk.investing.com/equities/apple-computer-inc-balance-sheet',
      'https://uk.investing.com/equities/toyota-motor-corporation-balance-sheet',
      'https://uk.investing.com/equities/hewlett-pack-balance-sheet',
     'https://uk.investing.com/equities/altria-group-balance-sheet']
urls_2=["https://uk.investing.com/equities/apple-computer-inc-income-statement"
        ,'https://uk.investing.com/equities/toyota-motor-corporation-income-statement',
       'https://uk.investing.com/equities/hewlett-pack-income-statement',
       'https://uk.investing.com/equities/altria-group-income-statement']

In [10]:
data= {'Nombre':'nombre_empresa','inv_cap_20':'book_value_invested_cap_20','inv_cap_19':'book_value_invested_cap_19',
       'inv_cap_18':'book_value_invested_cap_18','inv_cap_17':'book_value_invested_cap_17'}
inv_cap = pd.DataFrame (data, columns = ['Nombre','inv_cap_20','inv_cap_19','inv_cap_18','inv_cap_17'], index=[0])

In [11]:
inv_cap.drop(inv_cap.index, inplace=True)

In [12]:
for i in urls:
    nombre_empresa,balance=get_balance_sheet(i,user_agent,balance)
    print(i)
    book_value_invested_cap_20,book_value_invested_cap_19,book_value_invested_cap_18,book_value_invested_cap_17=get_invested_capital(balance)
    print(book_value_invested_cap_19)
    a_row = [nombre_empresa,book_value_invested_cap_20,book_value_invested_cap_19,book_value_invested_cap_18,book_value_invested_cap_17]
    row_df = pd.DataFrame([a_row],columns=['Nombre','inv_cap_20','inv_cap_19','inv_cap_18','inv_cap_17'])
    inv_cap = pd.concat([row_df, inv_cap])
    balance.drop(balance.index, inplace=True)

Apple Inc (AAPL)
https://uk.investing.com/equities/apple-computer-inc-balance-sheet
93025.0
178690.0
Toyota Motor Corp (7203)
https://uk.investing.com/equities/toyota-motor-corporation-balance-sheet
0.0
73518768.0
HP Inc (HPQ)
https://uk.investing.com/equities/hewlett-pack-balance-sheet
0.0
23352.0
Altria Group (MO)
https://uk.investing.com/equities/altria-group-balance-sheet
0.0
66645.0

In [13]:
inv_cap

                      Nombre  inv_cap_20  inv_cap_19  inv_cap_18  inv_cap_17
0         Altria Group (MO)	     64125.0     66645.0     63243.0     66256.0
0              HP Inc (HPQ)	     23467.0     23352.0     22405.0     21488.0
0  Toyota Motor Corp (7203)	  76692104.0  73518768.0  73963308.0  71595363.0
0          Apple Inc (AAPL)	    179572.0    178690.0    172386.0    180858.0

In [14]:
data= {'Nombre':'nombre_empresa','nopat_20':'nopat_20','nopat_19':'nopat_19',
       'nopat_18':'nopat_18','nopat_17':'nopat_17'}
nopat = pd.DataFrame (data, columns = ['Nombre','nopat_20','nopat_19','nopat_18','nopat_17'], index=[0])

nopat.drop(nopat.index, inplace=True)

In [15]:
for i in urls_2:
    nombre_empresa,NOPAT_2020,NOPAT_2019,NOPAT_2018,NOPAT_2017=get_NOPAT(i)
    a_row = [nombre_empresa,NOPAT_2020,NOPAT_2019,NOPAT_2018,NOPAT_2017]
    print(nombre_empresa,NOPAT_2020,NOPAT_2019,NOPAT_2018,NOPAT_2017)
    row_df = pd.DataFrame([a_row],columns=['Nombre','nopat_20','nopat_19','nopat_18','nopat_17'])
    nopat = pd.concat([row_df, nopat])

Apple Inc (AAPL)
Apple Inc (AAPL)	 9818.25 9639.75 19176.75 11718.75
Toyota Motor Corp (7203)
Toyota Motor Corp (7203)	 10440.0 -728.25 652107.75 537780.75
HP Inc (HPQ)
HP Inc (HPQ)	 619.5 648.75 708.0 809.25
Altria Group (MO)
Altria Group (MO)	 2126.25 1645.5 -1347.0 -1648.5

In [16]:
nopat

                      Nombre  nopat_20  nopat_19   nopat_18   nopat_17
0         Altria Group (MO)	   2126.25   1645.50   -1347.00   -1648.50
0              HP Inc (HPQ)	    619.50    648.75     708.00     809.25
0  Toyota Motor Corp (7203)	  10440.00   -728.25  652107.75  537780.75
0          Apple Inc (AAPL)	   9818.25   9639.75   19176.75   11718.75

In [17]:
nopat.iloc[0]

Nombre      Altria Group (MO)
nopat_20               2126.25
nopat_19                1645.5
nopat_18                 -1347
nopat_17               -1648.5
Name: 0, dtype: object

In [18]:
nopat.iloc[0][3]

-1347.0

In [19]:
data= {'Nombre':'nombre_empresa','ROIC_20':'','ROIC_19':'',
       'ROIC_18':''}
roic = pd.DataFrame (data, columns = ['Nombre','ROIC_20','ROIC_19','ROIC_18'], index=[0])

roic.drop(roic.index, inplace=True)

In [20]:

for i in range(0,len(inv_cap)):
    
    nombre_empresa=inv_cap.iloc[i][0]
    book_value_invested_cap_19=inv_cap.iloc[i][2]
    book_value_invested_cap_18=inv_cap.iloc[i][3]
    book_value_invested_cap_17=inv_cap.iloc[i][4]
    
    NOPAT_2020=nopat.iloc[i][1]
    NOPAT_2019=nopat.iloc[i][2]
    NOPAT_2018=nopat.iloc[i][3]
    
       
    ROIC_20=NOPAT_2020/book_value_invested_cap_19
    ROIC_19=NOPAT_2019/book_value_invested_cap_18
    ROIC_18=NOPAT_2018/book_value_invested_cap_17
    
    a_row = [nombre_empresa,ROIC_20,ROIC_19,ROIC_18]
    row_df = pd.DataFrame([a_row],columns=['Nombre','ROIC_20','ROIC_19','ROIC_18'])
    roic = pd.concat([row_df, roic])

In [21]:
roic

                      Nombre   ROIC_20   ROIC_19   ROIC_18
0          Apple Inc (AAPL)	  0.054946  0.055920  0.106032
0  Toyota Motor Corp (7203)	  0.000142 -0.000010  0.009108
0              HP Inc (HPQ)	  0.026529  0.028956  0.032949
0         Altria Group (MO)	  0.031904  0.026019 -0.020330

In [22]:
roic.to_excel('ROIC_resumen.xlsx')