In [2]:
# Cargamos datos
import pandas as pd

df = pd.read_csv("googleplaystore.csv")
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [17]:
df['Reviews'].apply(lambda x: x.replace('M', '000')).astype('float64')

0           159.0
1           967.0
2         87510.0
3        215644.0
4           967.0
           ...
10836        38.0
10837         4.0
10838         3.0
10839       114.0
10840    398307.0
Name: Reviews, Length: 10841, dtype: float64

In [9]:
df.groupby(['Category', 'Installs'])['App'].count().reset_index().sort_values('App', ascending=False)

           Category        Installs  App
155          FAMILY      1,000,000+  275
161          FAMILY        100,000+  256
158          FAMILY         10,000+  231
210            GAME     10,000,000+  225
154          FAMILY          1,000+  215
..              ...             ...  ...
156          FAMILY  1,000,000,000+    1
340       PARENTING      5,000,000+    1
189  FOOD_AND_DRINK              1+    1
337       PARENTING            100+    1
0               1.9            Free    1

[516 rows x 3 columns]

In [2]:


df['Date'] = pd.to_datetime(df['Date'])

In [19]:
string = 'aaaMa'
string = string.replace("M", "000")
string

'aaa000a'

In [20]:
def change_m(x):
    if "M" in x:
        return x.replace("M", "000")
    else:
        return x
        

df["Reviews"] = df["Reviews"].apply(change_m)
df["Reviews"] = pd.to_numeric(df["Reviews"])

In [21]:
type(df["Reviews"].min())

float

In [23]:
df["Content Rating"].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated', nan], dtype=object)

In [27]:
def change_dollar(x):
    if "$" in x:
        return x.replace("$", "000")
    elif "Everyone" in x:
        return 0
    else:
        return x
        

df["Price"] = df["Price"].apply(change_dollar)

df["Price"] = pd.to_numeric(df["Price"])